// Портфоліо
// Кнопки
.button-set {
    display: flex;
    justify-content: center;
    margin-bottom: 50px
}

.button-set__list {
    display: flex;
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}

.button-set__name {
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    background-color: $primary-color;
    color: $title-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 6px;
    padding-bottom: 6px;

    @include transition-mix(background-color, color, box-shadow);

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &--current{
        background-color: $accent-color;
        color: $white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}