// Секція Портфоліо

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.cards__list {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.cards__link {
    text-decoration: none;
    display: block;

    @include transition(box-shadow);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.cards__thumb {
    position: relative;
    overflow: hidden;
}

.cards__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $main-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-right: 24px;

    color: $white-color;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .cards__link:hover &,
    .cards__link:focus & {
        transform: translateY(0);
        opacity: 1;
    }
}

.cards__box {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    text-align: left;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

.cards__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: $title-color;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.cards__text {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: $main-color;
}