// Форма модального вікна

.modal-form__content {
    display: flex;
    flex-direction: column;
    margin: 40px;
    margin-bottom: 20px;
}

.modal-form__title {
    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;

    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    color: $title-color;
}

.modal-form__label {
    display: block;

    text-align: left;
    margin-bottom: 10px;

    font-family: $main-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: $main-color;
}

.modal-form__set {
    position: relative;
    display: block;
    margin-top: 4px;
}

.modal-form__input {
    display: block;

    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;

    @include transition(border-color);

    &:hover,
    &:focus {
        outline: none;
        border-color: $accent-color;
    }
}

.modal-form__icon {
    display: block;
    position: absolute;
    top: 11px;
    left: 12px;
}

.modal-form__input:hover+.modal-form__icon,
.modal-form__input:focus+.modal-form__icon {
    fill: $accent-color;
}

.modal-form__textarea {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding: 12px 16px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    @include transition(border-color);

    &:hover,
    &:focus {
        outline: none;
        border-color: $accent-color;
    }
}

.modal-form__checkbox {
    // -webkit-appearance: none;
    // -moz-appearance: none;

    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;

    @include transition(background-color)
}

.modal-form__icon-checked {
    width: 16px;
    height: 15px;
    margin-right: 8px;

    border: 2px solid $title-color;
    border-radius: 2px;
    fill: $white-color;
}

.modal-form__checkbox:checked+.modal-form__icon-checked {
    background-color: $accent-color;
    border-color: $accent-color;
}

.modal-form__checkbox:hover+.modal-form__icon-checked,
.modal-form__checkbox:focus+.modal-form__icon-checked {
    outline: 1px solid $button-color;
}

.modal-form__checkbox-label {
    display: flex;
    align-items: center;
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 30px;
}

.modal-form__link {
    color: $accent-color;
    margin-left: 3px;

    @include transition(border-color);

    &:hover,
    &:focus {
        text-decoration: none;
        border-color: $button-color;
    }
}

.modal-form__button {
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.06em;

    color: $white-color;

    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    padding: 10px 52px;
    margin-left: 164px;
    margin-right: 164px;
    margin-bottom: 40px;
    border: none;
    cursor: pointer;

    @include transition(background-color);

    &:hover,
    &:focus {
        background-color: $button-color;
    }
}