//   Навігація меню

.menu-container{

    @media screen and (max-width: 767px) {
        display: none
    position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 796px;
        padding: 32px;
        background-color: $white-color;
        z-index: 999;

        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }

}

.menu-container.is-open{
    transform: translateX(0);

}

.menu-toggle {
    padding: 0;
    height: 40px;

    background-color: $white-color;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;   
}

.menu-container .menu-toggle{
    position: absolute;
}

.mobile-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-menu{
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 40px;
    
}

.menu-nav {

    @media screen and (min-width: 768px) {
        display: flex;
        
    }
    
}


// .menu-nav__item {
//     margin-right: 50px;

//     &:last-child {
//         margin-right: 0;
//     }
// }

.menu-nav__list {
    color: $title-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

    @include transition(color);

    &:hover,
    &:focus {
        color: $accent-color;
    }

}

.menu-nav__list--active {
    position: relative;

    padding-bottom: 32px;
    color: $accent-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

}


// .menu-nav__list--active::after {
//     content: "";

//     position: absolute;
//     left: 0;
//     bottom: 0;

//     display: block;
//     width: 100%;
//     height: 4px;

//     background: $accent-color;
//     border-radius: 2px;
// }