//   Header

// Навігація

// Мобільна версія




// декстоп

.header-page {
    border-bottom: 1px solid $header-border;
}

.header-page__content {
    // display: flex;
    // align-items: center;
}

.navigation {
    // display: flex;
    // align-items: center;
    margin: 0;
    margin-right: auto;
    padding: 0;
}



