// Секція Особливості


.feature-set {
    // display: flex;
    // flex-wrap: wrap;
    align-items: flex-start;
}

// .feature-set__item {
//     // width: calc((100% - 90px) / 4);
//     margin-right: 30px;
// }

// .feature-set__item:nth-child(4n) {
//     margin-right: 0;
// }

.feature-set__content {
    background: $primary-color;

    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.feature-set__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    color: $title-color;
}