.address-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

@media screen and (min-width: 1200px) {
    align-items: flex-start;
}

}

.address-detail__list {
    margin-bottom: 9px;
}

.address-detail__link {
    color: $link-color;
    text-decoration: none;

    @include transition(color);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}