// Футер

.page-footer {
    background-color: $secondary-color;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;

}

.navigation-style{
    text-align: center;

}

// .navigation-style{
//     // margin-left: auto;
//     // margin-right: auto;
//     // display: flex;
//     // flex-direction: column;
//     // justify-content: center;
//     // align-items: center;
// }
.page-footer__content {
    margin: auto;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 60px;
    }
}

.page-footer__address {
    font-family: $main-font;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: $white-color;
    padding-top: 20px;
    
}



.footer-social-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px){
        margin-top: 0;
    }

}

.footer-social-content__title {
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: $white-color;
}



