$main-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$secondary-color: #2f303a;
$link-color: rgba(255, 255, 255, 0.6);
$primary-color: #f5f4fa;
$shadow-color: rgba(0, 0, 0, 0.15);
$button-color: #188ce8;
$border-color: #eeeeee;
$header-border: #ececec;
$gradient-color: rgba(47, 48, 58, 0.4);
$social-color: #afb1b8;
$modal-button: #000000;

$main-font:"Roboto", sans-serif;