// Соціальні мережі команда

.social-media {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}

.social-media__link {
    width: 44px;
    height: 44px;
    color: $social-color;
    fill: currentColor;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    @include transition-properly(background-color, color);

    &:hover,
    &:focus {
        color: $white-color;
        background-color: $accent-color;
    }
}

.social-media__icon {
    fill: currentColor;
}